<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qonita.farmarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLihatPost" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".BuatPostSewa" />
        <activity android:name=".BuatPostJasa" />
        <activity android:name=".BuatPostJual" />
        <activity android:name=".EditProfil" />
        <activity android:name=".LihatPostJasa" />
        <activity android:name=".LihatPostJual" />
        <activity android:name=".LihatPostSewa" />
        <activity android:name=".AdminValidasi" />
        <activity android:name=".EditPostJual" />
        <activity android:name=".BeliBarang" />
        <activity android:name=".LihatPostSaya"></activity>
    </application>

</manifest>